<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard</a>
            </li>

            <li class="divider"></li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.shinysdr')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.shinysdr')}" href="#"><i class="icon-puzzle"></i> Shiny SDR</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.shinysdr.spectrum"><i class="icon-puzzle"></i> Spectrum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.shinysdr.radioconfig"><i class="icon-puzzle"></i> Radio Config</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.shinysdr.freqdb"><i class="icon-puzzle"></i> Frequency DB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.shinysdr.flowgraph"><i class="icon-puzzle"></i> Debug: flow graph</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.log"><i class="icon-pie-chart"></i> Logs</a>
            </li>
        </ul>
    </nav>
</div>
